<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Streamalitics - Twitch Dashboard for streamers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN Vendor CSS-->
    <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- BEGIN Pages CSS-->
    <link href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
        <link href="/pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
    window.onload = function()
    {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css" />'
    }
    </script>
  </head>
  <body class="fixed-header menu-behind">
    
    <!-- START PAGE-CONTAINER -->
    <div class="page-container" style="padding-left:0px;">
      <!-- START PAGE HEADER WRAPPER -->
      <!-- START HEADER -->
      <div class="header ">
        
        <div class=" pull-left sm-table">
          <div class="header-inner">
            <div class="brand inline">
              <h2>Streamalitics</h2>
            </div>
            
          </div>
        </div>
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="text-master"><%= user.display_name %></span>
            </div>
            <div class="pull-right p-t-10"><i class="fa fa-angle-down"></i></div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                  <img src="<%= user.logo %>" alt="" data-src="<%= user.logo %>" data-src-retina="<%= user.logo %>" width="32" height="32">
                </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                </li>
                <li class="bg-master-lighter">
                  <a href="/logout" class="clearfix">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- END PAGE HEADER WRAPPER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
          
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg">
            <ul class="breadcrumb">
            </ul>
            <!-- BEGIN PlACE PAGE CONTENT HERE -->
            <div class="row">
              <!-- FIRST COLUMN -->
              <div class="col-md-8">
                <div class="row">
                
                  <div class="col-md-6">
                    <!-- LOGO panel -->
                    <div class="panel panel-default" style="height:320px;">
                      <div class="panel-heading">
                        <div class="panel-title">Streamer</div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-4 p-t-10 p-l-30">
                            <div class="thumbnail-wrapper circular">
                              <img alt="Avatar" width="300" height="300" data-src-retina="<%= user.logo %>" data-src="<%= user.logo %>" src="<%= user.logo %>">
                            </div>
                          </div>
                          <div class="col-md-8">
                            <h2><%= user.display_name %></h2>
                            <span><i class="fa fa-gamepad m-l-10"></i> Playing</span> <span id="gameTxt" class=" text-danger font-montserrat"></span><br>
                            <h4 id="liveIndTxt" class=" text-danger font-montserrat"><i class="fa fa-circle m-l-10"></i> LIVE</h4>
                          </div>
                        </div>
                        <hr class="m-t-5 m-b-5">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="panel no-border bg-white no-margin widget-loader-bar">
                              <div class="panel-body no-padding">
                                <div class="row">
                                  <div class="row">
                                    <div class="col-lg-4 col-md-12 text-center">
                                      <h2 class="text-primary"><i class="fa fa-users"></i></h2>
                                      <h5 id="followerCountTxt" class="bold no-margin"></h5>
                                      <p class="small no-margin">Followers</p>
                                    </div>
                                    <div class="col-lg-4 col-md-6 text-center">
                                      <h2 class="text-primary"><i class="fa fa-money"></i></h2>
                                      <h5 id="subCountTxt" class="bold no-margin">-</h5>
                                      <p class="small no-margin">Subscribers</p>
                                    </div>
                                    <div class="col-lg-4 col-md-6 text-center">
                                      <h2 class="text-danger"><i class="fa fa-eye"></i></h2>
                                      <h5 id="viewerCountTxt" class="bold text-danger no-margin ">-</h5>
                                      <p class="small text-danger no-margin">Live Viewers</p>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END LOGO panel -->
                    
                  </div>
                  
                  <div class="col-md-6">
                   
                    <!-- STREAM INFO PANEL -->
                    <div class="panel panel-default" style="height:320px;">
                      <div class="panel-heading">
                        <div class="panel-title">STREAM INFO</div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                            <span class="text-default fs-13">Title: <a href="" id="editStreamLink" class="fa fa-edit"></a></span>  <h5 id="statusTxt" class="text-complete semi-bold">-</h5>
                          </div>
                        </div>
                        <hr>
                        <div class="row p-t-10">
                          <div class="col-md-6">
                            <span class="text-default fs-13">Stream Start: </span><br><span id="streamStartTxt" class="text-complete semi-bold">-</span><br><br>
                            <span class="text-default fs-13">Average FPS: </span><br><span id="averageFpsTxt" class="text-primary semi-bold">-</span><br><br>
                          </div>
                          <div class="col-md-6">
                            <span class="text-default fs-13">Stream Duration: </span><br><span id="streamDurationTxt" class="text-complete semi-bold">-</span><br><br>
                            <span class="text-default fs-13">Delay: </span><br><span id="delayTxt" class="text-primary semi-bold">-</span><br><br>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                    <!-- END STREAM INFO PANEL -->
                </div>

                </div>
                <div class="row">
                  <!-- STREAM PANEL -->
                  <div class="col-md-6">
                    <div class="panel panel-default" style="height: 300px;">
                      <div class="panel-heading">
                        <div class="panel-title">Stream</div>
                      </div>
                      <div class="panel-body">
                        <script src= "http://player.twitch.tv/js/embed/v1.js"></script>
                        <div id="streamDiv"></div>
                        <script type="text/javascript">
                          var options = {
                            width:400,
                            height:230,
                            channel: "<%= user.display_name %>",
                          };
                          var player = new Twitch.Player("streamDiv", options);
                          player.setVolume(0.5);
                        </script>
                      
                      </div>
                    </div>
                  </div>
                  <!-- END STREAM PANEL -->
                  <!-- FOLLOWER PANEL -->
                  <div class="col-md-6">
                    <div class="panel panel-default" style="height:300px;" >
                      <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="collapse">
                        <li class="active"><a href="#viewerTab" data-toggle="tab" role="tab">Online Viewers</a>
                        </li>
                        <li><a href="#followerTab" data-toggle="tab" role="tab">Followers</a>
                        </li>
                      </ul>
                      <div class="tab-content" style="overflow-y:auto;">
                        <div class="tab-pane active " id="viewerTab">
                          <div class="table-responsive">
                              <table class="table table-hover table-condensed text-center" id="viewerTable">
                                
                                <tbody id="viewerTbody">
                                  
                                </tbody>
                              </table>
                            </div>
                        </div>
                        <div class="tab-pane " id="followerTab">
                          <div class="table-responsive">
                            <table class="table table-hover table-condensed" id="followerTable">
                              
                              <tbody id="followerTbody">
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                <!-- END FOLLOWER PANEL -->

                
              </div>
              <!-- END FIRST COLUMN -->
              
            </div>
            <!-- SECOND COLUMN -->
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="panel-title">Chat</div>
                      </div>
                      <div class="panel-body">
                        <iframe frameborder="0" 
                            scrolling="no" 
                            id="chat_embed" 
                            src="http://www.twitch.tv/<%= user.display_name %>/chat" 
                            height="560" 
                            width="400">
                        </iframe>
                              
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <!-- END SECOND COLUMN -->
            <!-- END PLACE PAGE CONTENT HERE -->
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- Modal -->
    <div class="modal fade slide-up disable-scroll" id="editStreamModal" tabindex="-1" role="dialog" aria-hidden="false">
      <div class="modal-dialog ">
        <div class="modal-content-wrapper">
          <div class="modal-content">
            <div class="modal-header clearfix text-left">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
              <h2>Edit Stream Info</h2>
              <p class="p-b-10">You can edit your stream info from below and click update.</p>
            </div>
            <div class="modal-body">
              <form role="form" id="updateStreamForm">
                <div class="form-group-attached">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Description:</label>
                        <input type="text" id="description" name="description" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group form-group-default">
                        <label>Game:</label>
                         <select class="full-width" id="game" name="game" data-init-plugin="select2">
                         </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 m-t-10 sm-m-t-10">
                    <button type="button" id="streamSubmitBtn" class="btn btn-primary btn-block m-t-5">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
    <!-- /.modal-dialog -->
    <!-- BEGIN VENDOR JS -->
    <script src="/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/boostrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap-select2/select2.min.js"></script>

    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="/pages/js/pages.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/assets/js/scripts.js" type="text/javascript"></script>
     <script src="/assets/js/notifications.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>